<% layout("/layout/basic") %>
  <br>
  <h3> <b>
      <%=item.title%>
    </b></h3>
  <br>
  <div class="row flex-show">
    <div class="col-8 offset-2">
      <div class="card col-9 show-card listing-card">
        <img src=<%=item.image.url%> class="card-img-top" alt="listing-images" height="250rem" >
        <div class="card-body">
          <p class="card-text">
            Owned By <i>
              <b>
                @<%=item.owner.username%>
              </b>
            </i>
          </p>
          <p class="card-text">
            <b>Description: </b>
            <%=item.description%>
          </p>
          <p class="card-text">
            <b>Price: </b>
            Rs.<%=item.price%>/Night
          </p>
          <p class="card-text">
            <b>Location: </b>
            <%=item.location%>
          </p>
          <p class="card-text">
            <b>Country: </b>
            <%=item.country%>
          </p>
        </div>
        <%if(currUser && currUser.equals(item.owner._id)){%>
          <div class="btns">
            <form method="get" action="/listings/<%=item._id%>/edit"><button class="btn btn-dark btn-edit">Edit
                This</button></form>
            <form method="post" action="/listings/<%=item._id%>?_method=delete"><button class="btn btn-dark">Delete
                This</button></form>
          </div>
          <%}%>
      </div>
    </div>
  </div>

  <hr>
  <h3><b>Leave A Review</b></h3>

  <%if(currUser){%>
    <div class="review row col-8 offset-2 flex-show">

      <form action="/listings/<%=item._id%>/reviews" method="post" novalidate class="needs-validation">
        <label for="rating" class="form-label mt-2">Ratings :</label>
        <fieldset class="starability-slot" id="rating">
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
            aria-label="No review[rating]." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <label for="comment">Comment :</label>
        <div><textarea name="review[comment]" id="comment" class="form-control mt-2" rows="4" cols="4"
            required></textarea>
          <div class="invalid-feedback">
            Please Right Down A Valid Review
          </div>
        </div>
        <button class="btn btn-outline-dark mt-3 mb-2">Submit</button>
      </form>
    </div>

    <%} else{ %>
      <div class="leave-review">
        Click Here To
        <a href="/login"> &nbsp;Login</a>
      </div>
      <%}%>
        <hr>
        <h3><b>All Reviews</b></h3>
        <div class="row col-8 offset-2 review-setting">
          <%if(!item.reviews.length){%>
            <p class="flex-index mt-2"><b>
                No Review To Show
              </b></p>
            <%}%>
              <%for(review of item.reviews) {%>
                <div class="row card mt-3 col-6" style="border: none;">
                  <hr>
                  <div class="card-title">
                    <h5>
                      <b>
                        @<%=review.author.username%>
                      </b>
                    </h5>
                    <p class="starability-result card-text" data-rating=<%=review.rating%>>
                    </p>
                    <p>
                      <%=review.comment%>,
                    </p>
                    <%if(currUser && currUser._id.equals(review.author._id)){%>
                      <form method="post" action="/listings/<%=item._id%>/reviews/<%=review._id%>?_method=delete">
                        <button class="btn btn-sm btn-dark">Delete</button>
                      </form>
                      <%}%>
                  </div>
                  <hr>
                </div>
                <%}%>
        </div>